*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background-color: black;
    border: rgb(187, 32, 52) 5px solid;
    
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 35%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
.header h1{
    color: rgb(187, 32, 52);
}

.navbar li{
    font-weight: lighter;
    color: goldenrod;
}

.navbar li a{
    text-decoration: none;
    color: goldenrod;
}

.navbar .active{
    font-weight: bolder;
}

.banner{
    height: 500px;
    background-color: brown;
    background-image: url(http://www.portaldovinhoberlin.com.br/img/hero7.jpg);
    background-size: cover;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    margin-right: 300px;
    width: 10%;
    color: white;
    font-size: 30px;
    
}

.message span{
    color:rgb(138, 16, 46); ;
    font-weight: bolder;
}

.proposito{
    height:450px;
    background-color: rgb(223, 215, 215);

}
.proposito .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proposito .container1 h2 {
    margin-top: 20px;
    color: rgb(104, 10, 33);
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

.proposito .container1 .mv div img{
    height: 100px;
    width: 100px;
}

.proposito .container1 .mv {
    margin-top:50px ;
    display: flex;
    justify-content: space-between;
}

.proposito .container1 .mv div {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proposito .container1 .mv div h3{
    color:rgb(104, 10, 33) ;
    font-weight: bolder;
    margin: 25px 0;
}

.footer {
    color:white;
    background-color: rgb(187, 32, 52);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .formlogin{
    background-color: rgba(22, 13, 2, 0.671);
    box-shadow: black ;
    height: 350px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.banner .formlogin h2 {
    color:rgb(224, 54, 77);
}

.banner .formlogin div{
    font-size: large;
    display: flex;
    flex-direction: column;

}

.banner .formlogin div{
    color:rgb(224, 54, 77);

}

.banner .formlogin div input{
    border: 2px solid rgb(187, 32, 52);
    border-radius: 10px;
    padding: 10px;
}

.banner .formlogin button{
    background-color:rgb(187, 32, 52) ;
    border:black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}

 
.banner .formcadastro{
    background-color: rgba(22, 13, 2, 0.753);
    height: 470px;
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.banner .formcadastro h2 {
    color:rgb(224, 54, 77);
    display: flex;
    justify-content: center;
    
}

.banner .formcadastro div{
    font-size: large;
    display: flex;
    flex-direction: column;

}

.banner .formcadastro div{
    color:rgb(224, 54, 77);

}

.banner .formcadastro div input{
    border: 2px solid rgb(187, 32, 52);
    border-radius: 10px;
    padding: 10px;
}

.banner .formcadastro button{
    background-color:rgb(187, 32, 52) ;
    border:black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}